<!DOCTYPE html>
<html>
  <head>
    <title>Restaurants</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class='flash_messages'>
      <p class="notice" <%= "style=padding-top:20px" if notice.present? %>><%= notice %></p>
      <p class="alert" <%= "style=padding-top:20px" if alert.present? %>><%= alert %></p>
    </div>

    <%= yield %>
  </body>
</html>
